.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 60vh;
    margin-top: 14rem;
}

.c-right{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    
}
.w-left{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    

}
.c-right >form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 10rem;
    transform: scale(1.5);
}
.user{
    width: 20rem;
    height: 2rem;
    gap: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}
textarea {
    height: 4rem !important;
}
.c-blur{
    top:1rem;
    left: 8rem;
}
.button1{
    width: 3rem;
    height: 2rem;
    text-align: center;
}
@media screen and (max-width:480px){
    .contact-form{
        display: flex;
        flex-direction: column;
        transform: scale(0.9);
        padding-bottom: 10rem;
        
    }
    .w-left{
        position: relative;
        top: -5rem;
    }
    .c-right{
        position: relative;
        bottom:  6rem;
    }

}
