.Services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 4rem;
    margin-top: 10rem;
    z-index: 0;
   
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;

}
.awesome>:nth-child(1){
    margin-top: 8rem;
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
}
.awesome>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 2rem;
}
.awesome>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    width: 6rem;
    height: 2.5rem;
    margin-top: 1rem;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top:-18%;
    left:56%;
    filter: blur(28px);
}
.blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #6a4d7c;
    z-index: -9;
    top:30%;
    left:20%;
    filter: blur(35px);
    transform: scale(1.6);
}
.king{
    position: relative;
    left: 20rem;
}
.cards {
    position: relative;
    align-content: space-between;
}
@media screen and (max-width:480px){
    .Services{
       position: relative;
        display: flex;
        flex-direction: column;
        top: 400px;
        
    }
    .card1{
        display: none;
    }
    .card2{
        display: none;
       

    }

    
}
@media all and  (max-width:1280px){
    .Services{
        
       
        margin-top: 6rem;
        
       
    }
    .awesome>:nth-child(1){
        font-size: 3rem;

    }
    .awesome>:nth-child(2){
        font-size: 3rem;
        
    } 
    .awesome>:nth-child(3){
        font-size: 24px;
        margin-top: 1.5rem;
    }
    .s-button{
        width: 8rem;
        height: 4rem;
        margin-top: 2rem;
    }
    

}
