.intro{
    display: flex;
    height: 77vh;
    margin-top:4.5rem;
    
}

.L-intro{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap:2rem

}
.L-name{
    display: flex;
    flex-direction: column;

}
.L-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size:2rem

}
.L-name>:nth-child(2){
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--orange);
}
.L-name>:nth-child(3){
    font-weight: 100;
    font-size: 14px;
    color: var(--brown);
    margin-top: 10px;
}
.i-button{
    width:6rem;
    height: 3rem;

}
.l-icon{
    
    display: flex;
    gap:0rem;
    
}
.l-icon>*{
    transform: scale(0.35);
}
.l-icon>*:hover{
    cursor: pointer;
    transform: scale(0.45);
    
}
.R-intro{
flex: 1;
position: relative;

}
.R-intro>*{
    position: absolute;
    z-index: 1;
}
.R-intro>*:nth-child(1){
    transform: scale(0.8);
    left:-60%;
    top:-55%;
}
.R-intro>*:nth-child(2){
    top:-18rem;
    transform: scale(0.3);
    left:-15rem

}
.R-intro>*:nth-child(3){
    transform: scale(0.6);
    left:5%;
    top:-30%;
}
.R-intro>*:nth-child(4){
    transform: scale(0.4);
    left:-25%;
    top:-35%
}
.blur{
    position: absolute;
    width: 22rem;
    height: 124rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -8;
    top:-18%;
    left:56%;
    filter: blur(28px);
}
.blur2{
    position: absolute;
    width: 22rem;
    height: 164rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top:30%;
    left:20%;
    filter: blur(35px);
    transform: scale(1.6);
}
@media screen and (max-width:480px){
    .intro{
        flex-direction: column;
        gap: 40px;
    }
    .l-icon{
        
        transform: scale(0.6);
        justify-content: center;

    }
    .R-intro{
        position: relative;
        transform: scale(0.6);
        left: -50px;
        padding-bottom: 100px;


       
    }
   
    .R-intro :nth-child(1){
        transform: scale(0.30);
        
        
    }
    .crown{
        display: none;

    }
}
@media all and  (max-width:1280px){
    .intro{
        margin-top: 9rem;
    }
    .L-intro{
        gap: 4rem;
    }
    .L-name>:nth-child(1){
        font-size: 5rem;
    }

    .L-name>:nth-child(2){
        padding-top: 2rem;
        font-size: 3rem;
    }
    .L-name>:nth-child(3){
        margin-top: 2rem;
        font-size: 24px;
    }
    .i-button{
        width: 10rem;
        height: 3rem;
        
    }
    .l-icon{
        margin-top: 5rem;
        margin-left: 3rem;
    
        display: flex;
        gap:6rem;
        
    }
    .l-icon>*{
        transform: scale(1.5);
    }
    .l-icon>*:hover{
        cursor: pointer;
        transform: scale(1.05);
        
    }
    .R-intro>*:nth-child(1){
        transform: scale(0.7);
        left:-5%;
        top:-15%;
    }
    .R-intro>*:nth-child(2){
        top:-10rem;
        transform: scale(0.6);
        left:-8rem
    
    }
    .R-intro>*:nth-child(3){
        transform: scale(1.2);
        left:30%;
        top:-3%;
    }
    .R-intro>*:nth-child(4){
        transform: scale(0.6);
        left:-12%;
        top:-18%
    }
    .R-intro>*:nth-child(6){
        transform: scale(1.8);
        position: absolute;
       

       


    }
    
    
    

}
@media all and  (max-width:1024px){
    .intro{
        margin-top: 6rem;
    }
    .L-intro{
        gap: 2rem;
    }
    .L-name>:nth-child(1){
        font-size: 3rem;
    }
    .L-name>:nth-child(2){
        padding-top: 1rem;
        font-size: 3rem;
    }
    .L-name>:nth-child(3){
        margin-top: 1rem;
        font-size: 24px
    }
    .i-button{
        width: 9rem;
        height: 3.5rem;
        font-size: 24px;
        
    }
    .l-icon{
        margin-top: 5rem;
        margin-left: 3rem;
    
        display: flex;
        gap:6rem;
        
    }
    .l-icon>*{
        transform: scale(1.5);
    }
    .l-icon>*:hover{
        cursor: pointer;
        transform: scale(1.05);
        
    }
    .R-intro>*:nth-child(1){
        transform: scale(0.7);
        left:-5%;
        top:-15%;
    }
    .R-intro>*:nth-child(2){
        top:-10rem;
        transform: scale(0.6);
        left:-8rem
    
    }
    .R-intro>*:nth-child(3){
        transform: scale(1.2);
        left:30%;
        top:-3%;
    }
    .R-intro>*:nth-child(4){
        transform: scale(0.6);
        left:-12%;
        top:-18%
    }
    .R-intro>*:nth-child(6){
        transform: scale(1.8);
        position: absolute;
        bottom: 20rem;
        left: 20rem;

       


    }
    
    
    

}
