.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap:2rem;
}
.n-name{
    font-weight: bold;
    font-size: 1.3rem;
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}
.l-list{
    flex:10;
    margin: 20px;
}
.l-list>ul{
    margin: 4rem;
    gap:2rem;
    display: flex;
    


}
ul>li:hover{
    cursor: pointer;
    color: rgb(112, 79, 190);
}
.n-button{
    flex: 2;
}
.naa:hover{
    cursor: pointer;
    color: var(--orange);
    

}
@media screen and (max-width:480px){
    .n-wrapper{
        padding-top: 15px;
    }
    .n-button{
        display: none;
    }
    .l-list{
        display: none;
    }
}
@media all and  (max-width:1280px){
    .n-name{
        font-size: 3rem;
        

    }
    .naa{
        font-size: 2rem;
    }
    .n-button{
        transform: scale(1.8);
    }
   
  
}
